<div id="wiki"><% unless @wikipage.sidebar.nil? %>
  <div id="wiki-sidebar">
    <%= @wikipage.sidebar.formatted_data %>
  </div><% end %>
  <%= @output %>
  <p><small>last updated: <%= @wikipage.version.authored_date %></small></p>
</div>
