<div id="wiki" class="yui-ge">
  <div class="yui-u first">
    <%= @output %>
    <p><small>last updated: <%= @wikipage.version.authored_date %></small></p>
  </div><% unless @wikipage.sidebar.nil? %>
  <div id="wiki-sidebar" class="yui-u">
    <%= @wikipage.sidebar.formatted_data %>
  </div><% end %>
</div>
